<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Tes clés ici -->
    <key>NSCameraUsageDescription</key>
    <string>Horizon VR a besoin de la caméra pour le suivi des mains.</string>
</dict>
</plist>
